@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background: #0e7e12;
  padding-top: 2rem;
}

.card {
  width: 20rem;
  flex-direction: column;
  height: 30rem;
  display: flex;
  background-color: white;
  margin: auto;
}

.suit {
  font-size: 80px;
  justify-content: end;
}
.number {
  justify-content: center;

  height: 15rem;
  font-size: 150px;
}
#suit-top {
  align-items: start;
  display: flex;
  justify-content: start;
  padding-left: 20px;
}
#suit-bottom {
  transform: rotate(180deg);
  display: flex;
  justify-content: start;
  padding-left: 20px;
}
#button {
  border: 0px;
  border-left: 2px solid #222;
  border-right: 2px solid #222;
  cursor: pointer;
  background: black;
  padding: 8px;
  padding-bottom: 8px 20px;
  transition: all 400ms ease;
  color: white;
}
#button:hover {
  padding: 8px 36px;
  border-left: 3px solid #222;
  border-right: 3px solid #222;
  letter-spacing: 8px;
  background: #0e7e12;
  color: white;
  border-color: red;
  background: black;
}
